@import "./import.scss";

.homeWapper {
  @include flexBox(center, center, column);
  gap: 24px;

  padding: 20px 10px;

  .recommend {
    width: 100%;

    div {
      h3 {
        @include fontSize(l);
        @include fontWeight(600);
        margin-bottom: 14px;
      }
    }
  }

  .cardWapper {
    @include flexBox(start, center);
    gap: 10px;
  }
}

.albumWrapper {
  width: 150px;
  height: 150px;
  border: 1px solid black;

  .thumbnail {
    width: 100%;
  }

  .albumInfo {
  }
}
