@import "./import.scss";

.homeWrapper {
  @include flexBox(center, center, column);
  gap: 24px;

  padding: 20px 10px;

  .recommend {
    width: 100%;

    div {
      h3 {
        @include fontSize(l);
        @include fontWeight(600);
        margin-bottom: 14px;
      }
    }
  }
}
