@import "./import.scss";

.loginWrapper {
  height: 100%;

  padding: 50px 32px;

  .loginContainer {
    @include flexBox(even, stretch, column);

    height: 100%;

    .loginTitle {
      h2 {
        @include fontWeight(700);
        font-size: 32px;
        margin-bottom: 10px;
      }

      p {
        @include fontColor(blueGray2);
      }
    }

    .loginButtonWrapper {
      @include flexBox(center, stretch, column);
      gap: 8px;

      li {
        .loginButton {
          @include flexBox(start, center);

          @include fontWeight(600);
          width: 100%;
          @include fontColor(blueGray2);

          border: 1px solid getColor(blueGray3);
          border-radius: 10px;
          padding: 7px 23px;
          background: transparent;

          .logo {
            width: 24px;
            height: 24px;
          }

          .googleLogo {
            background: url(https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg)
              center center no-repeat;
          }

          .facebookLogo {
            background: url(https://accounts.scdn.co/sso/images/new-facebook-icon.eae8e1b6256f7ccf01cf81913254e70b.svg)
              center center no-repeat;
          }

          .text {
            margin: auto;
          }
        }
      }
    }
  }
}
